<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121825945376-c6dspl7qe2qr3d7g2codp105eirnr1m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121825945376-c6dspl7qe2qr3d7g2codp105eirnr1m0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121825945376-e5im9usente7bf2c4adr1nu8sbdi6v65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv4_Njj_ldCP43eift01yplFOvOS8I40E</string>
	<key>GCM_SENDER_ID</key>
	<string>121825945376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pd301.sussex.blockchainworld</string>
	<key>PROJECT_ID</key>
	<string>blockchainworld-45aab</string>
	<key>STORAGE_BUCKET</key>
	<string>blockchainworld-45aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121825945376:ios:bc5f64efcac356ab001945</string>
	<key>DATABASE_URL</key>
	<string>https://blockchainworld-45aab-default-rtdb.firebaseio.com</string>
</dict>
</plist>